.wrapper {
    max-width: 100%;
    margin: 0 auto;
}

/* spec styles start */

.block-cards__title {
    padding-left: 8.21%;
    padding-bottom: 10px;
    padding-top: 10px;

    font-family: 'TT Hoves';
    font-weight: 800;
    font-style: normal;
    font-size: 44px;
    line-height: 52px;

    color: white;
    background-color: #32495E;
}

.block-cards__container {
    display: grid;
    gap: 70px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 216px);

    justify-content: center;
    padding: 50px 8.21% 60px 8.21%;
    background-color: #F9F9F9;
}

.block-cards__item1-title {
    font-family: 'TT Hoves';
    font-weight: 800;
    font-style: normal;

    color: #32495E;
}

.block-cards__item1-text {
    font-family: 'TT Hoves';
    font-weight: normal;
    font-style: normal;

    color: #32495E;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .block-cards__container {
        display: grid;

        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        grid-template-rows: repeat(2, 250px);

        justify-content: center;
        padding: 50px 8.21% 60px 8.21%;
        background-color: #F9F9F9;
    }
}

@media screen and (max-width: 767px) {
    .block-cards__title {
        font-size: 18px;
        line-height: 26px;
    }

    .block-cards__container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 200px);

        justify-content: center;
        padding: 50px 8.21% 60px 8.21%;
        background-color: #F9F9F9;
    }

    .block-cards__item4 {
        display: none;
    }

    .block-cards__item5 {
        display: none;
    }

    .block-cards__item6 {
        display: none;
    }

    .block-cards__item7 {
        display: none;
    }

    .block-cards__item8 {
        display: none;
    }
}

/* spec styles start */


/* price styles start */

.block-price__title {
    padding-left: 8.21%;

    font-family: 'TT Hoves';
    font-weight: 800;
    font-style: normal;
    font-size: 44px;
    line-height: 52px;
}

.block-price__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    padding: 0 8.21% 0 8.21%;
}

.block-price__side-1 {
    display: grid;
    grid-template-columns: 360px 86px;
    grid-template-rows: repeat(8, 20px);

    column-gap: 100px;
    row-gap: 20px;
}

.block-price__side-2 {
    display: grid;
    grid-template-columns: 360px 86px;
    grid-template-rows: repeat(8, 20px);

    column-gap: 100px;
    row-gap: 20px;
}

.block-price__side-main {
    font-family: 'TT Hoves';
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 17.43px;

    color: #32495E;
}

.block-price__side-item {
    font-family: 'TT Hoves';
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: 19.92px;

    color: #8093AC;
}

.block-price__side-price {
    font-family: 'TT Hoves';
    font-weight: 800;
    font-style: normal;
    font-size: 16px;
    line-height: 19.92px;

    color: #32495E;
}

.block-price__button-container {
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 40px;
}

.block-price__button {
    border: 1px solid #32495E;
    box-sizing: border-box;
    border-radius: 25px;

    background-color: #FFFFFF;
}

.block-price__button:hover,
.block-price__button:focus,
.block-price__button:active {
    background-color: #32495E;
}

.block-price__button-text {
    padding: 0 44px 0 44px;

    font-family: 'TT Hoves';
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
    line-height: 17.43px;

    color: #32495E;
}

.block-price__button-text:hover,
.block-price__button-text:focus,
.block-price__button-text:active {
    color: #FFFFFF;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .block-price__side-2 {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    .block-price__title {
        font-size: 18px;
        line-height: 26px;
    }

    .block-cards__container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .block-price__side-1 {
        display: grid;
        grid-template-columns: 250px 86px;
        grid-template-rows: repeat(8, 20px);

        row-gap: 30px;
    }

    .block-price__side-2 {
        display: none;
    }
}

/* price styles start */