.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.card{
    height: 200px;
    width: 200px;

    background: #FEE4DF;
    border-radius: 30px;
}

.gallery {
    width: 600px;
    margin: 0 auto;
}

.slider-container {
    overflow: hidden;
    background-color: pink;
}

.slider-track {
    display: flex;
    background-color: yellow;
    transition: .2s;
}

.slider-item {
    min-width: 200px;
    height: 100px;
    
}

.slider-item:nth-child(3n+1) {background-image: url(https://sun9-61.userapi.com/impg/JbTth57-cz2q4GRZ-AbQe4fQzOGk0wQb0ydSLw/4q7Szommy4k.jpg?size=948x948&quality=96&sign=4820dfbefbaadac59459ed6bb07821e6&type=album);}
.slider-item:nth-child(3n+2) {background-image: url(https://sun9-57.userapi.com/impg/d3W5jhWUZKNFsbcNc0d88yPRk9kMhel0NkVtfw/OPwUkFCyK0s.jpg?size=1056x735&quality=96&sign=e71dc98a54354c5484464bebaa11b2d2&type=album)}
.slider-item:nth-child(3n+3) {background-image: url(https://sun9-25.userapi.com/impg/K729snNScpUMnbHEZGionck-Zmtbic614F2GTg/pLw5iFTvZxY.jpg?size=736x736&quality=96&sign=d1d939f21352a07554a3f975aefee86b&type=album)}

.slider-buttons {
    text-align: center;
}